@import '../../../variables.global.scss';

.form {
  margin-bottom: 25px;
  max-width: 370px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.input {
  margin-bottom: 25px;
  padding: 19px 15px;
  height: 55px;
  width: 100%;
  background-color: var(--input-color);
  color: var(--text-color);
  border: none;
  outline: none;
}

.input::placeholder {
  color: $gray99;
}

.input,
.input::placeholder {
  font-weight: 300;
  font-size: 16px;
  line-height: 17px;
  font-family: 'SF UI Display';
}

.btnSubmit {
  padding: 19px 50px;
  background-color: var(--btn-green-color);
  color: $white;
  font-family: 'SF UI Display';
  font-weight: 500;
  font-size: 16px;
  line-height: 17px;
  transition: background-color 0.3s ease-in-out;
}

.btnSubmit:hover {
  background-color: $green89;
}

.nonActive {
  pointer-events: none;
  opacity: 0.5;
}

@media (max-width: 667px) {
  .form {
    margin-bottom: 20px;
  }

  .input {
    margin-bottom: 15px;
    padding: 14px 10px;
    height: 35px;
  }

  .input,
  .input::placeholder,
  .btnSubmit {
    font-size: 13px;
    line-height: 14px;
  }

  .btnSubmit {
    padding: 14px 35px;
  }
}

@media (max-width: 480px) {
  .form {
    max-width: none;
  }
}
