@import '../../../variables.global.scss';

.container {
  position: relative;
}

.menuList {
  z-index: 10;
  position: absolute;
  top: 100%;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 370px;
  filter: drop-shadow(0px 10px 63px rgba(0, 0, 0, 0.07));
}

.menuListBtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 15px;
  min-width: 370px;
  background-color: var(--input-color);
  border-top: 1px solid $grayDE;
  font-weight: 400;
  font-size: 16px;
  line-height: 17px;
  font-family: 'SF UI Display';
  color: var(--text-color);
  transition: background-color 0.3s ease-in-out;
}

.menuListBtn:hover {
  background-color: var(--container-color);
}

@media (max-width: 1000px) {
  .menuListBtn {
    min-width: 250px;
  }
}

@media (max-width: 667px) {
  .menuListBtn {
    padding: 10px 10px;
    font-size: 13px;
    line-height: 14px;
  }
}

@media (max-width: 480px) {
  .menuListBtn {
    min-width: 160px;
  }
}
