@import '../../../../../variables.global.scss';

.sliderBox {
  padding: 2px 2px;
  width: 46px;
  height: 26px;
  background-color: $grayF4;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  border-bottom-right-radius: 13px;
  border-bottom-left-radius: 13px;
  border: 1px solid $gray99;
  transition-property: border-color, background-color;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

.slider {
  width: 20px;
  height: 100%;
  background-color: $gray99;
  border-radius: 50%;
  transform: translateX(0);
  transition-property: background-color, transform;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

.sliderBox.checed {
  background-color: $greenA8;
  border-color: $greenA8;
}

.sliderBox.checed .slider {
  transform: translateX(100%);
  background-color: $white;
}
